*{
    background-image: url(./imagenes/matrixanimado.gif);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 5%;
}

.cabecera{
  display: flex;
  
}

h1{
  color: white;
  margin-left: 50px;
  text-align: center;
  font-size:  30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    display:flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    background: black;
    border:#0A3871 solid 2px;
    color: white;
    border-radius: 24px;
    margin-top: 10px;
    padding: 15px;
    text-transform: lowercase;
}

::placeholder{color:#0A3871;}
  .text-area:focus{
    outline: none;
  }

.mensaje{
  background: black;
  background-repeat: no-repeat;
  border: #0A3871 solid 2px;
  border-radius: 24px;
  color: white;
  margin-left: 98px;
  margin-top: 10px;
  padding-left: 20px;
  position: fixed;
}  

.mensaje:focus{
  outline: none;
}

.botones{
  display: flex;
  margin-top: 18px;
}

.btn-desencriptar{
  background: black;
  border: 2px solid #0A3871;
  border-radius: 24px;
  color:white;
  cursor: pointer;
  transition: 1s all;
  height: 67px;
  margin-left: 30px;
  width: 328px;
}

.btn-desencriptar:hover{
  background-color: yellowgreen ;
  color: black;
  transform: scale(1.12);
  font-weight: 700;
}


.btn-encriptar{
  background: green;
  border: 2px solid #0A3871;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  transition: 1s all;
  height: 67px;
  width: 328px;
}

.btn-encriptar:hover{
  background-color: greenyellow;
  color: black;
  transform: scale(1.12);
  font-weight: 700;
}


.btn-copiar{
  background: green;
  border: 1px solid #0A3871;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  transition: 1s all;
  height: 50px;
  width: 180px;
  margin-left: 150px;
  margin-top: 402px;
}

.btn-copiar:hover{
  background-color: greenyellow;
  color: black;
  transform: scale(1.12);
  font-weight: 700;
}
